* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#app {
  width: 100%;
  font-weight: normal;
}

a {
  list-style: none;
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  #app {
    width: 100svw;
  }

  footer {
    max-height: min-content;
  }
}
